<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>home</title>
</head>

<body>
    <header class="home__header">
        <div class="home__header--menu">
            <div class="home__header--logo">
                <img src="/img/logo.png" alt="">
            </div>
            <nav class="home__header__nav">
                <ul>
                    <li><a href="">smartphone</a></li>
                    <li><a href="">tablet</a></li>
                    <li><a href="">computadoras</a></li>
                </ul>

                <ul>
                    <li><a href="/login">login</a></li>
                    <li><a href="">registro</a></li>

                </ul>
            </nav>
        </div>
    </header>
    <main class="home__main">
        <div class="home__main__article-padre">
            <article class="home__main__article">
                <div class="home__main__article--img">
                    <img src="/img/img-phone-01.jpg" alt="">
                </div>
                <h2>Nombre del Producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aut, corporis voluptatem aliquid et
                    ratione laborum molestiae neque magnam dolore. Eum sed quibusdam delectus in voluptatibus, dolor
                    cumque illo temporibus.</p>
                <button class="home__main__article--boton"><a href="">ver más</a></button>

            </article>
            <article class="home__main__article">
                <div class="home__main__article--img">
                    <img src="/img/img-phone-02.jpg" alt="">
                </div>
                <h2>Nombre del Producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aut, corporis voluptatem aliquid et
                    ratione laborum molestiae neque magnam dolore. Eum sed quibusdam delectus in voluptatibus, dolor
                    cumque illo temporibus.</p>
                <button class="home__main__article--boton"><a href="">ver más</a></button>

            </article>
            <article class="home__main__article">
                <div class="home__main__article--img">
                    <img src="/img/img-phone-03.jpg" alt="">
                </div>
                <h2>Nombre del Producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aut, corporis voluptatem aliquid et
                    ratione laborum molestiae neque magnam dolore. Eum sed quibusdam delectus in voluptatibus, dolor
                    cumque illo temporibus.</p>
                <button class="home__main__article--boton"><a href="">ver más</a></button>

            </article>
            <article class="home__main__article">
                <div class="home__main__article--img">
                    <img src="/img/img-phone-01.jpg" alt="">
                </div>
                <h2>Nombre del Producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aut, corporis voluptatem aliquid et
                    ratione laborum molestiae neque magnam dolore. Eum sed quibusdam delectus in voluptatibus, dolor
                    cumque illo temporibus.</p>
                <button class="home__main__article--boton"><a href="">ver más</a></button>

            </article>
            <article class="home__main__article">
                <div class="home__main__article--img">
                    <img src="/img/img-phone-02.jpg" alt="">
                </div>
                <h2>Nombre del Producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aut, corporis voluptatem aliquid et
                    ratione laborum molestiae neque magnam dolore. Eum sed quibusdam delectus in voluptatibus, dolor
                    cumque illo temporibus.</p>
                <button class="home__main__article--boton"><a href="">ver más</a></button>

            </article>
            <article class="home__main__article">
                <div class="home__main__article--img">
                    <img src="/img/img-phone-03.jpg" alt="">
                </div>
                <h2>Nombre del Producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aut, corporis voluptatem aliquid et
                    ratione laborum molestiae neque magnam dolore. Eum sed quibusdam delectus in voluptatibus, dolor
                    cumque illo temporibus.</p>
                <button class="home__main__article--boton"><a href="">ver más</a></button>

            </article>
        </div>
        <div class="home__main__aside">
            <aside class="home__main__aside__tutoriales">
                <div class="home__main__aside__titulo">
                    <h1>Tutoriales</h1>
                </div>
                <div class="home__main__aside__tutoriales--caja">
                <article class="home__main__aside__tutoriales--article">
                    <div>
                        <img src="/img/aside-01.jpg" alt="">
                        <p>Titulo del tutorial de reparacion</p>
                    </div>
                </article>
                <article class="home__main__aside__tutoriales--article">
                    <div>
                        <img src="/img/aside-02.jpg" alt="">
                        <p>Titulo del tutorial de reparacion</p>
                    </div>
                </article>
                <article class="home__main__aside__tutoriales--article">
                    <div>
                        <img src="/img/aside-03.jpg" alt="">
                        <p>Titulo del tutorial de reparacion</p>
                    </div>
                </article>
                <article class="home__main__aside__tutoriales--article">
                    <div>
                        <img src="/img/aside-04.jpg" alt="">
                        <p>Titulo del tutorial de reparacion</p>
                    </div>
                </article>
                </div>
            </aside>
            <aside class="home__main__aside__publicidad">
                <div class="home__main__aside__publicidad--titulo">
                    <h1>Publicidad</h1>
                </div>
                <div class="home__main__aside__publicidad--article--caja">
                <article class="home__main__aside__publicidad--article">
                    <img src="/img/ad-01.jpg" alt="">
                </article>
                <article class="home__main__aside__publicidad--article">
                    <img src="/img/ad-02.jpg" alt="">
                </article>
                </div>
            </aside>
        </div>
    </main>
</body>

</html>