/* articulos principales*/
.home__main {
  width: 90%;
  margin: 10px auto;
}

.home__main__article-padre {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.home__main__article {
  padding: 10px;
}
.home__main__article p {
  padding: 10px 0;
}

.home__main__article--img img {
  width: 100%;
}

.home__main__article--boton {
  background-color: orangered;
  padding: 10px;
  border: none;
  outline: none;
  font-size: small;
}

/* aside tutoriales */

.home__main__aside {
}

.home__main__aside__titulo {
  background-color: #ffffff;
  padding: 5px 10px;
  margin: 10px 0;
}

.home__main__aside__tutoriales {
}

.home__main__aside__tutoriales--article {
  background-color: #ffffff;
  margin: 5px 0;
  padding: 10px;
}
.home__main__aside__tutoriales--article div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.home__main__aside__tutoriales--article div p {
}

/* aside publicidad */

.home__main__aside__publicidad {
}
.home__main__aside__publicidad--titulo {
  background-color: #ffffff;
  padding: 5px 10px;
  margin: 10px 0;
}

.home__main__aside__publicidad {
  margin: 10px 0;
}

.home__main__aside__publicidad--article--caja {
  background-color: #ffffff;
}

.home__main__aside__publicidad--article {
  padding: 10px;
}
.home__main__aside__publicidad--article img {
  width: 100%;
}

@media (min-width: 768px) {
  /* articulos principales*/

  .home__main {
    width: 90%;
    margin: 10px auto;
  }

  .home__main__article-padre {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .home__main__article {
    width: 50%;
    padding: 10px;
  }
  .home__main__article p {
    padding: 10px 0;
  }

  .home__main__article--img img {
    width: 100%;
  }

  .home__main__article--boton {
    background-color: orangered;
    padding: 10px;
    border: none;
    outline: none;
    font-size: small;
  }

  /* aside tutoriales */

  .home__main__aside {
  }

  .home__main__aside__titulo {
    background-color: #ffffff;
    padding: 5px 10px;
    margin: 10px 0;
  }

  .home__main__aside__tutoriales {}


  .home__main__aside__tutoriales--caja{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
  }

  .home__main__aside__tutoriales--article {
    background-color: #ffffff;
    width: 48%;
    margin: 5px 0;
    padding: 10px;
  }
  .home__main__aside__tutoriales--article div {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .home__main__aside__tutoriales--article div p {
  }

  /* aside publicidad */

  .home__main__aside__publicidad {
  }
  .home__main__aside__publicidad--titulo {
    background-color: #ffffff;
    padding: 5px 10px;
    margin: 10px 0;
  }

  .home__main__aside__publicidad {
    margin: 10px 0;
  }

  .home__main__aside__publicidad--article--caja {
    background-color: #ffffff;
    display: flex;
  }

  .home__main__aside__publicidad--article {
    width: 50%;
    padding: 10px;
  }
  .home__main__aside__publicidad--article img {
    width: 100%;
  }
}

@media (min-width : 1024px){
    .home__main {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 10px auto;
      }
    
      .home__main__article-padre {
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 63%;
        margin-bottom: 10px;
      }
    
      .home__main__article {
        width: 50%;
        padding: 10px;
      }
      .home__main__article p {
        padding: 10px 0;
      }
    
      .home__main__article--img img {
        width: 100%;
      }
    
      .home__main__article--boton {
        background-color: orangered;
        padding: 10px;
        border: none;
        outline: none;
        font-size: small;
      }
    
      /* aside tutoriales */
    
      .home__main__aside {
        width: 35%;
      }
    
      .home__main__aside__titulo {
        background-color: #ffffff;
        padding: 5px 10px;
        margin: 0 0 10px 0;
      }
    
      .home__main__aside__tutoriales {
        
      }
    
    
      .home__main__aside__tutoriales--caja{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        gap: 2px;
      }
    
      .home__main__aside__tutoriales--article {
        background-color: #ffffff;
        margin: 0 0;
        width: 100%;
        padding: 10px;
      }
      .home__main__aside__tutoriales--article div {
        display: flex;
        gap: 10px;
        align-items: center;
      }
      .home__main__aside__tutoriales--article div p {
      }
    
      /* aside publicidad */
    
      .home__main__aside__publicidad {
      }
      .home__main__aside__publicidad--titulo {
        background-color: #ffffff;
        padding: 5px 10px;
        margin: 10px 0;
        margin-top: 20px;
      }
    
      .home__main__aside__publicidad {
        margin: 10px 0;
      }
    
      .home__main__aside__publicidad--article--caja {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
      }
    
      .home__main__aside__publicidad--article {
        width: 100%;
        
        padding: 10px;
      }
      .home__main__aside__publicidad--article img {
        width: 100%;
      }
}


@media(min-width: 1440px){
    .home__main {
        width: 60%;
        display: flex;
        justify-content: space-between;
        margin: 10px auto;
      }
}
